@media only screen and (min-width: 500px) {
    .brand{
        white-space: nowrap;
        color: white;
        text-shadow: 2px 2px #550070;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Pacifico', cursive;
    }
    .navigation_body{
        background-image: linear-gradient(0deg,rgba(0,0,0,.3),transparent 76%),linear-gradient(90deg,#EF7F2E 0,#EF7F2E 138px,#630480 0,#630480);
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        /* margin-left: 50%; */
        margin: 0;
        padding-top: 20px;
        height: 200px;
        
    }
    .ft{
        display: block;
        padding-left: 10px;
        /* margin-bottom: 50%; */
        /* background-color: yellow; */
    }
    ._container .copyright{
        color:white;
        position: absolute;
        bottom :0;
        right: 0;
        left: auto;
    }
    .nav_d_items:hover{
        position: relative;
        background-color: white;
        box-shadow: 2px 0px 0px 0px rgba(0,0,0,.14);
    }
}