@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.menu_btn{
    display: flex;
    float: right;
    margin-right: 20px;
    box-shadow: 0 1px 15px rgba(0,0,0,.14);
    border-radius: 4px;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: #EF7F2E;
    color: #550070;
    border: 2px solid #EF7F2E;
    padding: 7px;
    cursor: pointer;
}
.navbar_search_end{
    /* background-color: red; */
    justify-content: right;
    position: relative;

}*{
    margin:0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    box-sizing:border-box;
    /* background-color: beige; */
}
html, body{
    font-family: 'Dosis', sans-serif;
    /* font-family: 1rem 'Open Sans', sans-serif; */
    /* font: 1rem 'Text Me One', sans-serif; */
    /* height: 200%; */
    background-color: #e8e8e8; 
    
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Pacifico', cursive;
}
a{
    color: #630480;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #EF7F2E;
    /* font-weight: bold; */
 }
.brand{
    white-space: nowrap;
    color: white;
    text-shadow: 2px 2px #550070;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}
.brand span{
    text-shadow: 2px 2px #EF7F2E;
}
/*NAVIGATION BAR CSS */
.navigation_wrapper{
    position: relative;
    z-index: 999999;
}
.navigation_bar{
    background-color:#630480;
    background-image: -webkit-linear-gradient(0deg,rgba(0,0,0,.3),transparent 76%),linear-gradient(90deg,#EF7F2E,#EF7F2E 50%,#630480 0,#630480)!important;
    background-image: linear-gradient(0deg,rgba(0,0,0,.3),transparent 76%),linear-gradient(90deg,#EF7F2E,#EF7F2E 50%,#630480 0,#630480)!important;
    background-repeat: no-repeat;
    background-color: #fff!important;
    background-size: 100% 94px;
    position: relative;
    z-index: 9999;
    margin-bottom: 0;
}
.navigation_body{
    height: 94px;
    background-image: linear-gradient(0deg,rgba(0,0,0,.3),transparent 76%),linear-gradient(90deg,#EF7F2E 0,#EF7F2E 110px,#630480 0,#630480);
    background-origin: content-box;
    background-repeat: no-repeat;

    /* 2nd part */
    max-width: 1024px;
    margin: 0 auto;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    box-sizing: border-box;
}
.nav_child{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.navbar_link_center{
    display: none;
}
.navbar-login-others{
    display: inline-block;
    white-space: nowrap;

    /* 2nd part */
    padding: 1px;
    color: #fff;    
}
.navbar-links{
    list-style: none;
    padding: 0;

    /* 2nd */
    display: inline-block;
    white-space: nowrap;

    /* 3rd */
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.link_items{
    display: inline-block;
    margin-right: 4px;
    text-align: -webkit-match-parent;
}
.link{
    font-weight: 700;
    font-size: 16px;
    color: inherit;
    padding: 5px 9px;
    display: block;
    /* max-width: 150px; */
    white-space: nowrap;
    overflow: hidden;
}
.link:hover{
    font-weight: bolder;
}
.site_search{
    display: none;
    margin-right: 20px;
}
.search_input{
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 8px 40px 8px 12px;
    font-weight: 400;
    font-family: inherit;
    font-size: 16px;
    border: 1px solid hsla(0,0%,100%,.6);
    /* background: #fff; */
    /* border-radius: 0; */
    color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    background: none;
    border-radius: 3px;
    -ms-transition: background .25s,color .25s;
    -webkit-transition: background .25s,color .25s;
    transition: background .25s,color .25s;
}
.search_input:focus{
    background-color: white;
    color: black;
}
.search_btn{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: 0;
    display: block;
    width: 35px;
    margin: 0;
    color: #707070;
    font-family: icons;
    cursor: pointer;
}
/* below navbar */
.nav_wrap{
    height: 52px;
    margin: 0 auto;
    box-shadow: 0 1px 15px rgba(0,0,0,.14);
    background-image: linear-gradient(0deg,rgba(0,0,0,.3),transparent 76%),linear-gradient(90deg,#ffffff 0,#ffffff 119px,#ffffff 0,#ffffff);
}
.navigations{
    height: 52px;
    /* background-color: plum; */
    text-align: center;
}
.nav_d_wrap{
    display: flex;
   
    list-style: none;
    white-space: nowrap;
    padding: 0; justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1024px;
    /* background-color: rebeccapurple;    */
    height: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 22px;
}
.nav_d_items{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    padding: auto;
    font-weight: bold;
    
}
.create_event_btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    vertical-align: middle;
    padding: .64em 1em;
    line-height: 1;
    color: #fff;
    border: 1px solid currentColor;
    background-color: #EF7F2E;
    border-color: #EF7F2E;
    font-family: inherit;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;

    /* 2nd */
    overflow: hidden;
    font-weight: bold;
}
.create_event_btn:hover{
    color: #630480;
    /* font-weight: bold; */
}
.dropdown-item{
    color: #630480;
    font-weight: bold;
    height: 30px;
}
.log_in_wrap{
    width: 100%;
    position: absolute;
    z-index: 99;
    height: 250px;
    margin: 0;
    margin-top: -250px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.log_in_body{
    width: 400px;
    max-width: 100%;
    height: 230px;
    margin: auto;
    background-color: white;
    box-shadow: 0 1px 15px rgba(0,0,0,.14);
    
}
.login_form{
    /* background-color: violet; */
    display: block;
    padding: 20px;
    height: 100%;
    position: relative;
}
.login_in{
    height: 40px;
    width: 80%;
    display: block;
    margin:auto;
    margin-bottom: 10px;
    padding: 5px;
    border:1px solid #46025a;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    /* margin-top: 10px; */
}
.login_form span{
    border: 0;
}
.login_sub{
    height: 40px;
    width: 40%;
    margin-left: 20px;
    background-color: #EF7F2E;
    border:1px solid #EF7F2E;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.login_hide{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 10px;
}
/* END OF NAVIGATION CSS */

/* SITE SECTION MIN NUM */
.site_section{
    min-height: 1020px;
}
/* END OF SITE SECTION MIN NUM */

/* FOOTER */
@font-face{
    font-family: 'Genericons';
    src: url('../genericons/genericons-regular-webfont.woff')format('woff'),url('../genericons/genericons-regular-webfont.eot')format('truetype')
}
._container{
    background-image: linear-gradient(0deg,rgba(0,0,0,.3),transparent 76%),linear-gradient(90deg,#630480 0,#630480 119px,#630480 0,#630480);
    position: relative;
    /* height: 250px; */
    margin-top: 20px;
    padding-bottom: 60px;
}
._container .copyright{
    color:white;
    position: absolute;
    bottom :0;
    right: 0;
    left: 0;
}


._accordion{
    /* background:  url("../img/l.png") no-repeat 75% 55%; */
    width: auto;
    /* min-width: 800px; */
    display: none;
    list-style-type: none;
    overflow: visible;
    height: 200px;
    font-size: 0;
    margin-left: 20px;
    position: absolute;
    top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tab{
    display: inline-block;
    background-color: #400254;
    background-image: linear-gradient(0deg,rgba(0,0,0,.3),transparent 66%),linear-gradient(90deg,#630480 0,#630480 119px,#630480 0,#630480);
    border-right: #46025a solid 2px;
    width: 80px;
    height:  200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition:all 0.5s ease-in-out 0.1s;
}
.tab:hover{
    width: 450px
}
.tab:hover .social a::before{
    margin-left: -100px;
}
.tab:hover .social a::after{
    margin-left: -5px;
}
.tab .content{
    background: #fff;
    /* width: 360px; */
    height: 200px;
    margin-left: 80px;
    position: relative;
    padding: 50px 0 0 15px;
    text-align: center;
    max-width: 100%;
}
.tab .content h1{
    font-size: 2.5rem;
}
.tab .content p{
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding-right: 30px;
}

.social a::before,
.social a::after{
    transition: all 0.4s ease-in-out 0.1s;
    width: 80px;
    height: 200px;
    position: absolute;
    text-indent: 0;
    padding-top: 90px;
    padding-left: 25px;
    display: block;
    font:normal 30px Genericons;
    color: white;
}

.social a::after{
    font-size: 48px;
    padding-left: 20;
    padding-top: 80px;
    margin-left: 85px;
}
/* add icons */
.youtube a::before,
.youtube a::after{
    content: '\f213';
}
.youtube a::after{
    background-color: #ff0000;
}
.twitter a::before,
.twitter a::after{
    content: '\f202';
}
.twitter a::after{
    background-color: #6dc5dd;
}
.facebook a::before,
.facebook a::after{
    content: '\f203';
}
.facebook a::after{
    background-color: #3b5998;
}
.linkedin a::before,
.linkedin a::after{
    content: '\f208';
}
.linkedin a::after{
    background-color: #00a9cd;
}
.instagram a::before,
.instagram a::after{
    content: '\f215';
}
.instagram a::after{
    background-color: #6dc993;
}
.github a::before,
.github a::after{
    content: '\f200';
}
.github a::after{
    background-color: #6e5494;
}
.footer h6{
    color: gray
}
.footer a{
    width: 100%;
    color: white
} 
.footer a:hover{
    color: #EF7F2E;
    border-bottom:2px solid #400254;
    /* background-color: #9812c1; */
}
.f1{
    padding: 0;
    margin: 0;
    
}
.f2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright{
    padding: 40px;
    padding-bottom: 0;
    padding-top: 8px;
    margin-bottom: 0px;
    color:black;
    margin:0;
    background-color: #EF7F2E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 4px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-left: 50%;
    padding-top: 30px;
    height: 200px;
    
}
.create_event_btn_mob{
   background-color: #EF7F2E;
   color: white;
   padding: 5px;
}

.mob_login_wrap{
    width: 100%;
    max-width: 1024px;
    height: 150px;
    position: absolute;
}
.mob_link_items{
    text-decoration: none;
    list-style: none;
}
.mob_login{
    color: white;
    /* background-color: violet; */
    height: 150px;
    position: absolute;
    width: 220px;
    max-width: 100%;
    z-index: 100000;
    right: 0;
    margin-top: -300px;
    /* bottom: -144%; */
    background-color:#630480;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    /* margin-bottom: -100%; */
    padding: 20px;
    -ms-transition: margin .25s,color .25s;
    -webkit-transition: margin .25s,color .25s;
    transition: margin .25s,color .25s;
}

.ft{
    width: 80%;
    /* background-color: red; */
    margin: auto;
    margin-bottom: 20px;

    /* width: 100%; */
    /* padding-left: 30%; */
}
.footer{
    display: block;
    margin: auto;
    height: auto;
}
.ft h6{
    letter-spacing: 5px;
    text-shadow: 2px 0px white;
    font-size: 20px;
}
.create_event_btn_mob:hover{
    color:#400254;
}
.dropdown-menu-right{
    background-color: red;
    position: absolute;
    margin-left: 0;
    left:0;
    margin-left: -60px;
}
.more{
    float: right;
}
.more_dd{
    /* float: left; */
    /* transform: translate3d(-47px, 43px, 0px); */
    /* right: 0; */
    left: -100px;
}
.row_align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hoverdrop{
    display: none;
    position: absolute;
    width: 170px;
    height: 220px;
    right: 0;
    margin-top: 20px;
    background-color: white;
    z-index: 8000000000;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,.14);
}
.nav_d_items{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.nav_d_items:hover{
    position: relative;
}
.nav_d_items:hover .nav_link{
    position: absolute;
    height: 100%;
}
.nav_d_items:hover .hoverdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 135px;
}
.hoverdrop ul{
    list-style-type: none;
}
.hoverdrop li{
    margin-bottom: 5px;

}
.sons{
    display:flex;
}
.hons{
    display: none;
}


/* SIGN UP */   
#sign-in , #sign-up{
    position:fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 9999992000;
    width: 100vw;
    height: 0px;
    background-color: rgba(255,255,255,0.9);
    overflow: scroll;
    -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
    display:block;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    
}
.close-sign-up{
    color: red;
    font-size: 14px;
}
.close-sign-up:hover{
    text-decoration: none;
}
.signup-form{
    width: 95%;
    padding-left: 80px;
    padding-right: 80;
    box-shadow: 2px 2px 2px 0 #ccc;
    background-color: white;
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    padding: 0;
    margin: auto;
    
}
.signup-form .row{
    text-align: left;
    z-index: 20000;
}
.signup-wrapper{
    z-index: 99999900;
    position: relative;
    padding: 50px;
}
.sign-alt{
    float: right;
}
.left-shadow{
    width: 50%;
    height: 80px;
    position:   absolute;
    left: 10px;
    bottom: 14px;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari */
    transform: rotate(-3deg);
    box-shadow: 2px 20px 10px 0 rgba(100,100,100,0.8);
    z-index: -50;
    -webkit-transition: box-shadow 0.5s; /* Safari */
    transition: box-shadow 0.5s;
}

.right-shadow{
    width: 50%;
    height: 80px;
    position: absolute;
    right: 10px;
    bottom: 14px;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
    box-shadow: 2px 20px 10px 0 rgba(100,100,100,0.8);
    z-index: -50;
    -webkit-transition: box-shadow 0.5s; /* Safari */
    transition: box-shadow 0.5s;
}
.cover-shadow{
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    z-index: 100;
}
.push-left{
    margin-right: 30%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 4px;
}