.site_section{
    width: 100%;
    position: relative;
    /* background-color: aquamarine; */
    display:flex;
    justify-content:center;
}
.section_tiles_wrap{
    /* background-color: antiquewhite; */
    width: 70%;
}
.tile_row_1pr{
    overflow: hidden;
    margin-top: 30px;
    /* margin-bottom: 10px; */
    column-count: 1;
    height: 410px;
    min-height: 410px;
    padding-right: 4px;
    /* padding: 20px; */
    /* border: 2px solid black; */
}
.tile_row_2pr{
    column-gap: 50px;
    overflow: hidden;
    margin-top: 30px;
    /* margin-bottom: 5px; */
    column-count: 2;
    max-height: 300px;
    padding-right: 4px;
    /* padding: 20px; */
    /* border: 2px solid black; */
}
.tile_row_3pr{
    column-gap: 40px;
    overflow: hidden;
    margin-top: 30px;
    /* margin-bottom: 5px; */
    column-count: 3;
    height: 400px;
    max-height: 400px;
    padding-right: 4px;
    /* padding: 20px; */
    /* border: 2px solid black; */
}
.tile_items_1{
    width: 100%;
    height: 400px;
    min-height: 400px;
    /* background-color: blue; */
    box-shadow: 1px 1px 2px rgba(0,0,0,.15);
}
.tile_items_2{
    width:100%;
    display: inline-block;
    height: 280px;
    min-height: 28px;
    /* background-color: blue; */
    box-shadow: 1px 1px 2px rgba(0,0,0,.15);
}
.tile_items_3{
    width:100%;
    display: inline-block;
    height: 390px;
    min-height: 390px;
    /* background-color: blue; */
    box-shadow: 1px 1px 2px rgba(0,0,0,.15);
}

.image_v{
    position: relative;
    min-width: 70%;
    max-width: 70%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    float: left;
}
.content_v{
    /* background-color: aqua; */
    margin: 0;
    width: 30%;
    height: 100%;
    overflow: hidden;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-right-style: groove; */
    text-align: center;
    padding: 5px;
    background-color: white;
}
.im_v{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.image_h{
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin: 0;
    /* float: left; */
}
.content_h{
    /* background-color: aqua; */
    margin: 0;
    width: 100%;
    height: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    line-height: 17px;
    background-color: white;
    /* float: left; */
}
.im_h{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.event-title{
    font-weight: bold;
    font-size: 20px;
}