
.detail-wrapper{
    min-height: 500px;
    margin-top: 130px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding-top: 10px;
    /* background-color: red; */
    position: relative;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
}
.detail-img{
    /* float: left; */
    position: relative;
    width: 100%;
    height: 260px;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* margin-right: 20px; */
    /* margin-left: 40px; */
    margin-bottom: 20px;
}
.important-detail{
        /* padding: 15px; */
        width: 100%;
        overflow: hidden;
        margin-bottom: 5px;
        padding: 20px;
        
}
.important-detail h2{
    font-weight: bold;
    text-align: center;
    border-left: 2px solid #EF7F2E;
    text-shadow: 1.2px 1.2px;
    
}
.date-time{
    /* background-color: aquamarine; */
    width: 100%;
    /* height: 100px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.time,.date,.location{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* width: 100%; */
    /* padding-left: 15px; */
    /* border: 2px solid black; */
    height: 100%;
}
.time h4,.date h4,.location h4{
    padding-left:18px;
}
.time h4,.date h4,.location h4{
    margin-top: 10px;
}
.e-start-in{
    margin-top: 20px;
    width: 100%;
    border-bottom: 2px solid black;
    font-weight: bold;
}
.time-remaining{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.r-section{
    width: 25%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time-remaining p{
    font-family: fantasy;
    font-size: 40px;
}
.main-content{
    /* display: none; */
    width: 95%;
    margin: auto;
    padding: 30px;
    line-height: 20px;
    box-shadow: -2px 2px 3px #630480;
    background-color: rgba(100, 100, 100, 0.1);
}
.question{
    font-weight: bold;
    padding-left: 20px;
}
.answers{
    padding-left: 30px;
    
}
.detail-head{
    font-weight: bold;
    /* padding-left: 20px; */
}
.detail-content{
    padding-left: 20px;
}
.puchase-wrapper{
    position: absolute;
    width: 150px;
    height: 90px;
    bottom: 0;
    right: 0;
    /* background-color: springgreen; */
    /* z-index: 999999992; */
}
.puchase-wrapper a{
    width: 70%;
    border : 2px solid #EF7F2E;
    background-color: #EF7F2E;
    border-radius: 4px;
}
.puchase-wrapper a:hover{
    color:#630480;
}
@media only screen and (min-width: 700px) {
    .detail-wrapper{
        min-height: 500px;
        margin-top: 130px;
        /* padding-left: 10px; */
        padding-right: 10px;
        padding-top: 10px;
        /* background-color: red; */
        position: relative;
        margin-left: 40px;
        margin-right: 40px;
    }
    .detail-img{
        /* float: left; */
        width: 100%;
        height: 340px;
        display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        /* margin-right: 20px; */
        /* margin-left: 40px; */
        margin-bottom: 20px;
    }
    .important-detail{
            /* padding: 15px; */
            width: 100%;
            overflow: hidden;
            margin-bottom: 50px;
            padding: 20px;
    }
    .important-detail h2{
        font-weight: bold;
        text-align: center;
        border-left: 2px solid #EF7F2E;
        
    }
    .date-time{
        /* background-color: aquamarine; */
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .time,.date,.location{
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        padding-left: 15px;
        /* border: 2px solid black; */
        height: 100%;
    }
    .time h4,.date h4,.location h4{
        margin-top: 10px;
    }
    .e-start-in{
        width: 40%;
        border-bottom: 2px solid black;
        font-weight: bold;
    }
    .time-remaining{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .r-section{
        width: 25%;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .time-remaining p{
        font-family: fantasy;
        font-size: 40px;
    }
    .main-content{
        width: 84%;
        margin: auto;
        padding: 30px;
        line-height: 20px;
        box-shadow: -2px 2px 3px #630480;
        background-color: rgba(100, 100, 100, 0.1);
    }
    .question{
        font-weight: bold;
        padding-left: 80px;
    }
    .answers{
        padding-left: 100px;
        
    }
    .detail-head{
        font-weight: bold;
        /* padding-left: 20px; */
    }
    .detail-content{
        padding-left: 60px;
    }
}
@media only screen and (min-width: 900px) {
    .detail-wrapper{
        min-height: 500px;
        margin-top: 100px;
        /* padding-left: 10px; */
        padding-right: 10px;
        padding-top: 10px;
        /* background-color: red; */
        position: relative;
        margin-left: 40px;
        margin-right: 40px;
    }
    .detail-img{
        float: left;
        width: 50%;
        height: 340px;
        display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        /* margin-right: 20px; */
        /* margin-left: 40px; */
        margin-bottom: 20px;
    }
    .important-detail{
            /* padding: 15px; */
            width: 50%;
            overflow: hidden;
            margin-bottom: 50px;
            padding: 20px;
    }
    .important-detail h2{
        font-weight: bold;
        text-align: center;
        border-left: 2px solid #EF7F2E;
        
    }
    .date-time{
        /* background-color: aquamarine; */
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .time,.date,.location{
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        padding-left: 15px;
        /* border: 2px solid black; */
        height: 100%;
    }
    .time h4,.date h4,.location h4{
        margin-top: 10px;
    }
    .e-start-in{
        width: 40%;
        border-bottom: 2px solid black;
        font-weight: bold;
    }
    .time-remaining{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .r-section{
        width: 25%;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .time-remaining p{
        font-family: fantasy;
        font-size: 40px;
    }
    .main-content{
        width: 70%;
        margin: auto;
        padding: 30px;
        line-height: 20px;
        box-shadow: -2px 2px 3px #630480;
        background-color: rgba(100, 100, 100, 0.1);
    }
    .question{
        font-weight: bold;
        padding-left: 80px;
    }
    .answers{
        padding-left: 100px;
        
    }
    .detail-head{
        font-weight: bold;
        /* padding-left: 20px; */
    }
    .detail-content{
        padding-left: 60px;
    }
}